<div class="routeBox">
    <div class="routeHeader">
        <div class="leftRouteHeader">
            <div class="text">{{company}}</div>
            <div class="text">{{terminal}}</div>
            <div class="text">Destination: {{destination}}</div>
            <div class="text">{{schedule}}</div>
        </div>
        <div class="rightRouteHeader">
            <div class="text">P{{price}}</div>
                <div class="buyBox"><button class = "btnRemove">REMOVE</button></div>
        </div>
    </div>
</div>